

<ion-content>

  <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfHi_T0RBhCww4OVlCmuEIn2EB5IY-TsQ7g9vuEA_RyIDjVEg/viewform?embedded=true"
  [width]="screenWidth"
  [height]="screenHeight"
  frameborder="0"
  marginheight="0"
  marginwidth="0">Loading…</iframe> -->


  <!-- <ion-card class="under-costruction-card">
    <ion-card-header class="under-costruction-card-header">
      <ion-icon name="construct-sharp" class="under-costruction-card-icon"></ion-icon>
    </ion-card-header>
    <ion-card-content class="under-costruction-card-content">
       {{'MESSAGES.UNDER_CONSTRUCTION_TITLE' | translate}}
        <p>
            {{'MESSAGES.UNDER_CONSTRUCTION_MESSAGE' | translate}}
          </p>
    </ion-card-content>
  </ion-card> -->
</ion-content>
<ion-footer [translucent]="true">
  <ion-button  expand="block" (click)="CancelButtonClicked()">
    <ion-icon slot="start" name="close"></ion-icon>
    {{'BUTTONS.CANCEL' | translate}}
  </ion-button>
</ion-footer>
