<ion-content>
  <div *ngIf="!enableFilter" padding-horizontal text-center class="animated fadeInDown">
    <div class="app-logo center">
      <img src="/assets/icon/org-logo.png">
    </div>
    <h4 no-margin class="text-center">
      <ion-text class="search-text" class="ion-text-justify">
        {{'PARCELS_SEARCH_PAGE.TITLE' | translate}}
      </ion-text>
    </h4>
    <ion-item class="search-text-field">
      <ion-input [(ngModel)]="searchFilter.Registration_Number" placeholder=" {{'GENERAL.SEARCH_FIELD' | translate}}">
      </ion-input>
    </ion-item>
    <ion-label *ngIf="showRegistrationValidationMessage" color="danger">
      &nbsp;&nbsp;&nbsp;&nbsp;{{'PARCEL.REGISTRATION_NUMBER' | translate}}
    </ion-label>
    <ion-button expand="block" (click)="SearchButtonClicked()" tappable>
      <ion-icon slot="start" name="search"></ion-icon>
      {{'PARCELS_SEARCH_PAGE.TITLE' | translate}}
    </ion-button>
  </div>


  <div *ngIf="enableFilter" padding-horizontal text-center class="animated fadeInDown">
    <div class="app-logo center">
      <img src="/assets/icon/org-logo.png">
    </div>
    <h4 no-margin class="text-center">
      <ion-text class="search-text" class="ion-text-justify">
        {{'PARCELS_SEARCH_PAGE.SEARCH_BY_FILTER_TITLE' | translate}}
      </ion-text>
    </h4>
    <ion-list class="search-text-field-list">
      <ion-item class="search-text-field">
        <ion-input class="search-text"  [(ngModel)]="searchFilter.Registration_Number"
          placeholder=" {{'PARCEL.REGISTRATION_NUMBER' | translate}}"></ion-input>
      </ion-item>

      <ion-item>
        <!-- <ion-input [(ngModel)]="searchFilter.Vehicle_Type" placeholder=" {{'PARCEL.PARCEL_TYPE' | translate}}">
        </ion-input> -->

        <ion-item>
          <ion-select  (ionChange)="vehicleTypeChanged()" multiple="false" cancelText="Cancel" okText="Select"  [(ngModel)]="searchFilter.Vehicle_Type"  placeholder=" {{'PARCEL.PARCEL_TYPE' | translate}}">
            <ion-select-option *ngFor="let vehicleType of vehicleTypes"
            value="{{ vehicleType }}">
              {{ vehicleType }}
              </ion-select-option>
          </ion-select>


        </ion-item>
      </ion-item>
      <ion-item>
        <ion-input  [(ngModel)]="searchFilter.Engine_Number" placeholder=" {{'PARCEL.ENGINE_NUMNER' | translate}}">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="searchFilter.ChassisNumber" placeholder=" {{'PARCEL.CHASSIS_NUMBER' | translate}}">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-select  (ionChange)="vehicleCompanyChanged()" multiple="false" cancelText="Cancel" okText="Select"  [(ngModel)]="searchFilter.Company"  placeholder=" {{'PARCEL.COMPANY' | translate}}">
          <ion-select-option *ngFor="let vehicleCompany of vehicleCompanies"
          value="{{ vehicleCompany }}">
            {{ vehicleCompany }}
            </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="searchFilter.Make" placeholder=" {{'PARCEL.MAKE' | translate}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="searchFilter.Model" placeholder=" {{'PARCEL.MODEL' | translate}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="searchFilter.Color" placeholder=" {{'PARCEL.COLOR' | translate}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select  (ionChange)="vehicleCategoryChanged()" multiple="false" cancelText="Cancel" okText="Select"  [(ngModel)]="searchFilter.Category"  placeholder=" {{'PARCEL.CATEGORY' | translate}}">
          <ion-select-option *ngFor="let Category of vehicleCategories"
          value="{{ Category }}">
            {{ Category }}
            </ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="searchFilter.Investigation_Officer_Name"
          placeholder=" {{'PARCEL.INVESTIGATION_OFFICER_NAME' | translate}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="searchFilter.Investigation_Officer_Number"
          placeholder=" {{'PARCEL.INVESTIGATION_OFFICER_NUMBER' | translate}}"></ion-input>
      </ion-item>
      <ion-item>     
          <ion-select  (ionChange)="PoliceStationChanged()" multiple="false" cancelText="Cancel" okText="Select"  [(ngModel)]="searchFilter.Name_Of_Police_Station"  placeholder=" {{'PARCEL.POLICE_STATION_DETAILS' | translate}}">
            <ion-select-option *ngFor="let PoliceStation of PoliceStationList"
            value="{{ PoliceStation }}">
              {{ PoliceStation }}
              </ion-select-option>
            </ion-select>

      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="searchFilter.Comments" placeholder=" {{'PARCEL.COMMENTS' | translate}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="searchFilter.Vehicle_owner_complainant" placeholder=" {{'PARCEL.COMPLAINENT' | translate}}"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button class="search-button" expand="full" (click)="SearchButtonClicked()" tappable>
      {{'PARCELS_SEARCH_PAGE.TITLE' | translate}}
    </ion-button>
  </div>
  <ion-item >
    {{'PARCELS_SEARCH_PAGE.SEARCH_BY_FILTER_TITLE' | translate}}
    <ion-toggle slot="end" [checked]="enableFilter" (ionChange)="enableFilterButtonClicked()"></ion-toggle>
  </ion-item>
</ion-content>
