<ion-content>


  <ion-card>
    <ion-card-header class="text-center">
      <ion-icon class="user-icon" [name]="user.Icon"></ion-icon>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header class="text-center">
      <ion-item>
        <ion-icon name='people-circle-outline' slot="start"></ion-icon>

        {{'USER.BASIC_DETAILS' | translate}}
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">{{'BASE_MODEL.name' | translate}} </ion-col>
              <ion-col class="value" size="6"> {{user.FirstName}} {{user.LastName}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">{{'USER.GENDER' | translate}} </ion-col>
              <ion-col class="value" size="6"> {{user.Gender}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header class="text-center">
      <ion-item>
        <ion-icon name='settings-outline' slot="start"></ion-icon>

        {{'USER.CONTACT_DETAILS' | translate}}
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">{{'USER.EMAIL' | translate}} </ion-col>
              <ion-col class="value"> {{user.Email}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">{{'USER.PHONE_NUMBER' | translate}} </ion-col>
              <ion-col class="value" size="6"> {{user.PhoneNumber}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon name='options-outline' slot="start"></ion-icon>
        {{'USER.ACCOUNT_DETAILS' | translate}}
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">{{'USER.USER_NAME' | translate}} </ion-col>
              <ion-col class="value" size="6"> {{user.UserName}} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">{{'USER.ROLE' | translate}} </ion-col>
              <ion-col class="value" size="6"> {{user.Role}} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">{{'BASE_MODEL.STATUS' | translate}} </ion-col>
              <ion-col class="value" size="6"> {{user.Status}} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon name='calendar-outline' slot="start"></ion-icon>
        {{'BASE_MODEL.AUDIT_DETAILS' | translate}}
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">{{'BASE_MODEL.CREATED_ON' | translate}} </ion-col>
              <ion-col class="value" size="6"> {{user.createdOn}} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">{{'BASE_MODEL.UPDATED_ON' | translate}} </ion-col>
              <ion-col class="value" size="6"> {{user.updatedOn}} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
<ion-footer>


  <ion-button expand="block" (click)="goToUserList()" >
    <ion-icon slot="start" name="close"></ion-icon>
    {{'BUTTONS.CANCEL' | translate}}
  </ion-button>
  <ion-button expand="block" (click)="EditButtonClicked()" >
    <ion-icon slot="start" name="create"></ion-icon>
    {{'BUTTONS.EDIT' | translate}}
  </ion-button>
</ion-footer>
