<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">
    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="app-logo center">
        <img src="/assets/icon/org-logo.png">
      </div>
      <h4 no-margin class="text-center">
        <ion-text color="dark" class="ion-text-justify">
          {{'APP_TITLE' | translate}}
        </ion-text>
      </h4>
      <h5 no-margin class="text-center">
        <ion-text color="dark" class="ion-text-justify">
          {{'APP_SUB_TITLE' | translate}}
        </ion-text>
      </h5>
    </div>

    <ion-item id="UserProfile" class="toolbar-backgorund credentials-area">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input class="credentials-field" name="Email" placeholder=" {{'GENERAL.EMAIL_FIELD' | translate}}"
        [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item id="UserProfile" class="toolbar-backgorund credentials-area">
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-input type="password" name="Password" placeholder=" {{'RESET_PASSWORD.OLD_PASSWORD' | translate}}"
        [(ngModel)]="oldPassword"></ion-input>
    </ion-item>

    <ion-label *ngIf="showOldPasswordValidationMessage" color="danger">
      {{oldPasswordValidationMessage}}
    </ion-label>

    <ion-item id="UserProfile" class="toolbar-backgorund">
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      <ion-input type="password" name="Password" placeholder="{{'RESET_PASSWORD.NEW_PASSWORD' | translate}}"
        [(ngModel)]="newPassword" (ionChange)="newPasswordTextChanged()" autocapitalize="sentences" autocomplete="off">
      </ion-input>
    </ion-item>
    <ion-progress-bar value="{{passwordStrength}}"></ion-progress-bar>
    <ion-label *ngIf="showNewPasswordValidationMessage" color="danger">
      {{newPasswordValidationMessage}}
    </ion-label>

    <ion-item *ngIf="showPasswordStrengthMessage">
      <ion-label slot="start" color="info"> {{'RESET_PASSWORD.PASSWORD_STRENGTH_MESSAGE' | translate}} </ion-label>
    </ion-item>
    <ion-item *ngIf="showPasswordStrengthMessage">
      <ion-label slot="" color="info"> {{'RESET_PASSWORD.PASSWORD_STRENGTH_LENGTH_CONTRAINT_MESSAGE' | translate}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="showPasswordStrengthMessage">
      <ion-label slot="" color="info"> {{'RESET_PASSWORD.PASSWORD_STRENGTH_LOWERCASE_CONTRAINT_MESSAGE' | translate}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="showPasswordStrengthMessage">
      <ion-label slot="" color="info"> {{'RESET_PASSWORD.PASSWORD_STRENGTH_UPPERCASE_CONTRAINT_MESSAGE' | translate}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="showPasswordStrengthMessage">
      <ion-label slot="" color="info"> {{'RESET_PASSWORD.PASSWORD_STRENGTH_NUMBER_CONTRAINT_MESSAGE' | translate}}
      </ion-label>
    </ion-item>

    <ion-item id="UserProfile" class="toolbar-backgorund">
      <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
      <ion-input type="password" name="Password" placeholder="{{'RESET_PASSWORD.CONFIRM_NEW_PASSWORD' | translate}}"
        [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
    <ion-label *ngIf="showConfirmPasswordValidationMessage" color="danger">
      {{confirmPasswordValidationMessage}}
    </ion-label>

    <div>
      <ion-button class="signin" expand="full" color="dark" (click)="resetButtonClicked()" tappable>
        {{'RESET_PASSWORD.BUTTON_TITLE' | translate}}
      </ion-button>
      <ion-button class="signin" expand="full" color="dark" (click)="cancelButtonClicked()" tappable>
        {{'BUTTONS.CANCEL' | translate}}
      </ion-button>
    </div>
  </div>

  <div class="text-center language-button">
    <span (click)="languageLinkClicked()" class="paz" tappable>
      <ion-text color="dark">
        {{'GENERAL.LANGUAGE' | translate}}
      </ion-text>
    </span>
  </div>
</ion-content>