body
{
  z-index: 102;
    color: whitesmoke;
    display: block!important;
    padding: 10px;
  }

div
{
  z-index: 102;
    color: whitesmoke;
}

h1
{
  z-index: 102;
    color: whitesmoke;
}

iframe {
  overflow-y: hidden;
  overflow-x: hidden;
}
